@media screen and (max-width: 767px) {
  .main-header{
    .menu-icon{
      display: block;
    }
    .nav-links{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      background: #272727;
      transition:
        opacity .8s .5s,
        clip-path 1s;
      clip-path: circle(200px at top right);
      a{
        color: white;
      }
    }
  }
}
